<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A Full stack CRUD Flask Application. ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos and Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="wrapper">
        <div class="title">
            <h1>Dojos and Ninjas</h1>
            <p>You can Create, Read, Update or Delete. But the goal here to see which dojo gains the most ninjas</p>
        </div>
        <div class="main-container">
            <div class="container ">
                <h2>New Dojo</h2>
                <form class="new-dojo" action="/create_dojo" method="post">
                    <label for="name"> New Dojo:</label>
                    <input type="text" name="name" id="name">
                    <button type="submit" value="create_dojo">Create </button>
                </form>
            </div>
            <div class="container">
                <h2>All Dojos</h2>
                {% for dojo in dojos %}
                    <ul>
                        <a href="">{{all_dojos.name}}</a>
                    </ul>
                {% endfor %}
            </div>
        </div>
        

    </div>
</body>
</html>