<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users Results Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="form-container">
            <h1>Dojo Users Results</h1>
            <table class="table">
                <tr class="headings">
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Created_at</th>
                    <th>Updated_at</th> 
                    <th>Actions</th>
                </tr>
                <tr class="rows">
                    {% for users in all_users%}
                    <tr>
                        <td>{{users.id}}</td>
                        <td>{{users.first_name}}</td>
                        <td>{{users.last_name}}</td>
                        <td>{{users.email}}</td>
                        <td>{{users.created_at}}</td>
                        <td>{{users.updated_at}}</td>
                        <td><a href="/users/{{users.id}}/delete">Delete</a><span> | </span><a href="/users/{{users.id}}/edit">Edit</a></td>
                    <tr>
                    {% endfor%}
                </tr>
            </table>
        </div>
    </div>
</body>
</html>