<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users Results Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="form-container">
            <h1>Dojo Users Results</h1>
            <table class="form-data">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Created_at</th>
                    <th>Updated_at</th>
                </tr>
                <tr>
                    {% for users in User%}
                    <td>{{users.id}}</td>
                    <td>{{users.first_name}}</td>
                    <td>{{users.last_name}}</td>
                    <td>{{users.email}}</td>
                    <td>{{users.Created_at}}</td>
                    <td>{{users.Updated_at}}</td>
                    {% endfor%}
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

<!-- <form class=form-data>
                <label for="fname">First Name:</label>
                <input class="test" type="text" value="{{request.form['fname']}}" disabled>
                <!-- <input type="text" name="name" id="name"> -->
                <!-- <label for="lname">Last Name:</label>
                <input class="test" type="text" value="{{request.form['lname']}}" disabled>
                <!-- <select name="location" id="location"></select> -->
                <!-- <label for="email">Email:</label>
                <input class="test" type="text" value="{{request.form['email']}}" disabled> -->
                <!-- <select name="favorite language" id="favorite language"></select> -->
                
                <!-- <a href="/index.html"><button class="btn-submit" type="submit" value="">Go Back!</button></a> -->
            <!-- </form> --> 