.search{
    border-color: aqua;
    background-color:lightgrey;
    color:cadetblue;
    width: 8rem;
    border-radius: 15px 15px 15px 15px;
    padding: 5px
}
.plus{
    border-radius: 50%;
    border-color: cyan;
    background-color:cyan;
    color: white;
    height: 2rem;
    width: 2rem;
}
.account{
    border-color: blue;
    background-color: blue;
    color: white;
    box-shadow: 4px 4px grey;
    height: 3rem;
    width: 10rem;
}
